<h1>Static file cache</h1>
<input type="submit" onclick="return confirm('Are you sure?');" value="Remove all expired pages" name="ACTION[removeExpiredPages]">
<p class="c-refresh">
	<a href="{requestUri}">
		<f:be.buttons.icon icon="actions-system-refresh" title="{f:translate(key: 'LLL:EXT:lang/locallang_core.xml:labels.refresh')}" />
		{f:translate(key: 'LLL:EXT:lang/locallang_core.xml:labels.refresh')} </a>
</p>
<table border="0" cellspacing="1" cellpadding="0" class="t3-table">
	<thead>
		<tr class="bgColor5 tableheader">
			<th>Page</th>
			<th>Identifier</th>
			<th>Created</th>
			<th>Expires</th>
			<th>Explanation</th>
		</tr>
	</thead>
	<tbody>
		<f:for each="{rows}" as="row">
			<tr>
				<f:format.raw>{row}</f:format.raw>
			</tr>
		</f:for>
	</tbody>
</table>
<f:if condition="{pageId} > 0">
	<input type="hidden" name="id" value="{pageId}" />
</f:if>